<header class="mx-auto">
    <nav class="nav">
        <ul class="row nav ml-3">
            {{#if logged_in}}
            <li class="nav-item">
                <a class="nav-link button" href="/dashboard" id="dashboard-button">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link button" href="/" id="logout">Logout</a>
            </li>
            <li>
                <a class="nav-link button" href="/post" id="post-button">Create Post</a>
            </li>
            {{/if}}
            {{#unless logged_in}}
            <li class="nav-item">
                <a class="nav-link button" href="/login" id="login-button">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link button" href="/signup" id="signup-button">Sign up</a>
            </li>
            {{/unless}}

        </ul>
    </nav>
    <h1>
        <a class="nav-link button" href="/" id="home-button">The Tech Blog</a>

    </h1>
</header>