<ul>
    {{#each posts as |post| }}
    <li class="card custom-card">
        <h2>
            What is important
            <span class="details"> posted by + timestamp</span>
        </h2>
        <p>
            fine details as to what is important
        </p>
    </li>
    <li class="card custom-card">
        <h2>
            What is important
            <span> posted by + timestamp</span>
        </h2>
        <p>
            fine details as to what is important
        </p>
    </li>
    <li class="card custom-card">
        <h2>
            What is important
            <span> posted by + timestamp</span>
        </h2>
        <p>
            fine details as to what is important
        </p>
    </li>
</ul>