{{> header}}

<main class="row"></main>


<ul class="m-4 col">

    <li class="card custom-card m-2">
        <h2 class="text-center">
            <a href='/post/'>
                Welcome to the Tech Blog
                
            </a>
        </h2>
        <p class="text-center">
            To continue, please sign in, or press a button in the navigation bar.
        </p>
    </li>

</ul>
</main>